NEXT_PUBLIC_APP_URL=http://localhost:3017
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ALLOCATOR_URL=https://testnet-dev.epochprotocol.xyz
NEXT_PUBLIC_MIDEN_NETWORK=testnet
NEXT_PUBLIC_MIDEN_RPC_URL=testnet
NEXT_PUBLIC_MIDEN_PROVER=testnet
NEXT_PUBLIC_MIDEN_USDC_FAUCET_ID=0x537c15a622074e91188aa894456c52
